@model MyBookApp.Models.Book

@{
    ViewData["Title"] = @Model.Title;
}

<article class="mx-auto w-fc mw-70ch p-2">
    <h1 class="text-center mb-5">@ViewData["Title"]</h1>
    <div class="mb-5">
        <p><span class="fw-semibold me-2">@Html.DisplayNameFor(model => model.Genre):</span> @Html.DisplayFor(model => model.Genre)</p>
        <p><span class="fw-semibold me-2">@Html.DisplayNameFor(model => model.Author):</span> <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" asp-controller="Author" asp-action="Details" asp-route-id="@Model.AuthorId"> @Html.DisplayFor(model => model.Author.Name)</a></p>
        <p>
            <span class="fw-semibold">@Html.DisplayNameFor(model => model.Description):
            <br>
            </span>@Html.DisplayFor(model => model.Description)
        </p>
        <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" asp-controller="Loan" asp-action="Borrow" asp-route-id="@Model.Id">Låna</a>
    </div>
    <div class="">
        <a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" asp-action="Index">Tillbaka till listan</a>
    </div>
</article>