@model IEnumerable<MyBookApp.Models.Loan>

@{
    ViewData["Title"] = "Lånade böcker";
}

<h1 class="text-center mb-5">@ViewData["Title"]</h1>

<div class="p-1 mx-auto w-100 mw-70ch">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Book)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BorrowerName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoanDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BorrowerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoanDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</div>
